<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>
<body>
	<div id="sidebar" class="active" th:fragment="menu">
		<div class="sidebar-wrapper active">
			<div class="sidebar-header">
				<div class="d-flex justify-content-between">
					<div class="logo">
						<a href="/admin/home" th:text="${#session.getAttribute('userDetails').fullName}"><img
							th:src="@{/admin/assets/images/logo/logo.png}" alt="Logo"
							srcset=""></a>
					</div>
					<div class="toggler">
						<a href="#" class="sidebar-hide d-xl-none d-block" ><i
							class="bi bi-x bi-middle"></i></a>
					</div>
				</div>
			</div>
			<div class="sidebar-menu">
				<ul class="menu">
					<li class="sidebar-title" >Menu</li>
					<th:block th:unless="${#session.getAttribute('userDetails').roles.contains('ROLE_ADMIN')}">
					<input type="hidden" th:value="${#session.getAttribute('userDetails').id}" id= "myId" />
					</th:block>
					<th:block th:if="${#session.getAttribute('userDetails').roles.contains('ROLE_ADMIN')}">
					<input type="hidden" value="0" id= "myId" />
					<li class="sidebar-item  has-sub"><a href="#"
						class='sidebar-link'> <i class="bi bi-person-lines-fill"></i> <span>Quản lý người dùng</span>
					</a>
						<ul class="submenu ">
							<li class="submenu-item "><a href="managerUser">Danh sách người dùng</a></li>

						</ul></li>
						<li class="sidebar-item  has-sub"><a href="#"
						class='sidebar-link'> <i class="bi bi-stack"></i> <span>Quản lý chuyên khoa</span>
					</a>
						<ul class="submenu ">
							<li class="submenu-item "><a href="managerSpecialized">Danh sách chuyên khoa</a></li>

						</ul></li>
						</th:block>
						
					<li class="sidebar-item  has-sub"><a href="#"
						class='sidebar-link'><i class="bi bi-book-fill"></i> <span>Cẩm nang</span>
					</a>
						<ul class="submenu ">
						
							<li class="submenu-item "><a href="managerHandbook">Danh sách bài viết</a></li>

						</ul></li>
						<th:block th:if="${#session.getAttribute('userDetails').roles.contains('ROLE_ADMIN')}">
					<li class="sidebar-item  has-sub"><a href="#"
						class='sidebar-link'><i class="bi bi-shop"></i><span>Cơ sở y tế</span>
					</a>
						<ul class="submenu ">
							<li class="submenu-item "><a href="managerHospital">Danh sách cơ sở y tế</a></li>

						</ul></li>
						</th:block>

					<li class="sidebar-item  has-sub"><a href="#"
						class='sidebar-link'> <i class="bi bi-chat-right-text-fill"></i> <span>Chat Box</span>
					</a>
						<ul class="submenu ">
							<li class="submenu-item "><a href="managerChat">Manager
									Chat</a></li>

						</ul></li>

					<li class="sidebar-item  has-sub"><a href="#"
						class='sidebar-link'> <i class="bi bi-calendar-date-fill"></i></i> <span>Quản lý lịch khám</span>
					</a>
						<ul class="submenu ">
							<li class="submenu-item "><a href="managerMedical">Danh sách lịch khám </a></li>
							<li class="submenu-item "><a href="managerMedicalComplete">Lịch khám đã hoàn thành </a></li>

						</ul></li>
					
					<li class="sidebar-item  has-sub"><a href="#"
						class='sidebar-link'><i class="bi bi-person-fill"></i><span>Thông tin cá nhân
						</span>
					</a>
						<ul class="submenu ">
							<li class="submenu-item "><a href="editProfile">Chỉnh sửa thông tin cá nhân</a></li>
							<li class="submenu-item "><a href="/logout">Đăng xuất</a></li>
							<li class="submenu-item "><a href="/home">Chuyển tới giao diện người dùng</a></li>

						</ul></li>
						


				</ul>
			</div>
			<button class="sidebar-toggler btn x">
				<i data-feather="x"></i>
			</button>
		</div>
	</div>
</body>
</html>